### 0. TODO
1. Fix que permita ejecutar múltiples consultas con una única instancia de conexión con MDB
2. Nuevo protocolo de streaming para resultados numerosos
3. Reportar QueryExceptions desde C++ hacia Python

In [38]:
import pymdb
import pandas as pd

##### 1. fetchone

In [42]:
connection = pymdb.Connection(host="localhost", port="8080")
with connection.cursor() as cursor:
    query = "MATCH (?x)-[?z]->(?y) RETURN ?x, ?z, ?y LIMIT 100"
    cursor.execute(query)
    first = cursor.fetchone()
    display(first)
connection = pymdb.Connection(host="localhost", port="8080")

       ?x        ?z     ?y
0  Q10010  _e224649  Q4843

##### 2. fetchmany

In [45]:
connection = pymdb.Connection(host="localhost", port="8080")
with connection.cursor() as cursor:
    query = "MATCH (?x)->() RETURN ?x LIMIT 100"
    cursor.execute(query)
    many = cursor.fetchmany(10)
    display(many)
connection = pymdb.Connection(host="localhost", port="8080")

       ?x
0  Q10010
1  Q10019
2  Q10043
3  Q10049
4  Q10078
5  Q10080
6  Q10087
7  Q10095
8  Q10109
9  Q10134

##### 3. fetchall

In [46]:
connection = pymdb.Connection(host="localhost", port="8080")
with connection.cursor() as cursor:
    query = "MATCH (?x)->(?y) RETURN ?x, ?y LIMIT 100"
    cursor.execute(query)
    many = cursor.fetchall()
    display(many)
connection = pymdb.Connection(host="localhost", port="8080")

        ?x      ?y
0   Q10010   Q4843
1   Q10019  Q55350
2   Q10043  Q19624
3   Q10049  Q12890
4   Q10078  Q22900
..     ...     ...
95  Q11510  Q76542
96  Q11515  Q64570
97  Q11540  Q18334
98  Q11550  Q67144
99  Q11553  Q21614

[100 rows x 2 columns]