# Demo 
**TODO**:
1. New streaming protocol for large results
2. Raise QueryExceptions from C++ to Python

In [3]:
import pymdb
import pandas as pd

## 1. Client instance

A client can have multiple cursor instances

In [18]:
client = pymdb.Client(host="localhost", port=8080)
# Do stuff
client.close()

`Client` also support the `with` statement, which calls the `close()` method automatically when leaving the scope

In [19]:
with pymdb.Client(host="localhost", port=8080) as client:
    # Do stuff
    pass

## 2. Cursor instance
Similarly to `Client`, cursors support the `with` statement. This object is used for executing queries directly to MillenniumDB

In [20]:
with pymdb.Client(host="localhost", port=8080) as client:
    cursor1 = client.cursor()
    # Do stuff with cursor1
    cursor1.close()

    with client.cursor() as cursor2:
        # Do stuff with cursor2
        pass

### 2.1. fetchone()

In [21]:
with pymdb.Client(host="localhost", port=8080) as client:
    with client.cursor() as cursor:
        query = "MATCH (?x)-[?z]->(?y) RETURN ?x, ?z, ?y LIMIT 100"
        cursor.execute(query)
        first = cursor.fetchone()
        display(first)

       ?x        ?z     ?y
0  Q10010  _e224649  Q4843

### 3. fetchmany

In [23]:
with pymdb.Client(host="localhost", port=8080) as client:
    with client.cursor() as cursor:
        query = "MATCH (?x)->() RETURN ?x LIMIT 100"
        cursor.execute(query)
        many = cursor.fetchmany(5)
        display(many)

       ?x
0  Q10010
1  Q10019
2  Q10043
3  Q10049
4  Q10078

### 4. fetchall

In [24]:
with pymdb.Client(host="localhost", port=8080) as client:
    with client.cursor() as cursor:
        query = "MATCH (?x)->(?y) RETURN ?x, ?y LIMIT 100"
        cursor.execute(query)
        many = cursor.fetchall()
        display(many)

        ?x      ?y
0   Q10010   Q4843
1   Q10019  Q55350
2   Q10043  Q19624
3   Q10049  Q12890
4   Q10078  Q22900
..     ...     ...
95  Q11510  Q76542
96  Q11515  Q64570
97  Q11540  Q18334
98  Q11550  Q67144
99  Q11553  Q21614

[100 rows x 2 columns]

### 5. Finish client instance