### 0. TODO
1. Fix que permita ejecutar múltiples consultas con una única instancia de conexión con MDB
2. Nuevo protocolo de streaming para resultados numerosos
3. Reportar QueryExceptions desde C++ hacia Python
4. Consumir resultados en paralelo

In [1]:
import pymdb
import pandas as pd

##### 1. fetchone

In [2]:
connection = pymdb.Connection(host="localhost", port="8080")
with connection.cursor() as cursor:
    query = "MATCH (?x)-[?z]->(?y) RETURN ?x, ?z, ?y LIMIT 100"
    cursor.execute(query) # TODO: Connect by socket and execute query here
    first = cursor.fetchone()
    second = cursor.fetchone()
    display(first)
    print("-----")
    display(second)
connection.close()

       ?x        ?z     ?y
0  Q10010  _e224649  Q4843

-----

       ?x        ?z      ?y
0  Q10019  _e270085  Q55350

##### 2. fetchmany

In [3]:
connection = pymdb.Connection(host="localhost", port="8080")
with connection.cursor() as cursor:
    query = "MATCH (?x)->() RETURN ?x LIMIT 100"
    cursor.execute(query)
    many = cursor.fetchmany(10)
    display(many)
connection.close()

       ?x
0  Q10010
1  Q10019
2  Q10043
3  Q10049
4  Q10078
5  Q10080
6  Q10087
7  Q10095
8  Q10109
9  Q10134

##### 3. fetchall

In [5]:
connection = pymdb.Connection(host="localhost", port="8080")
with connection.cursor() as cursor:
    query = "MATCH (?x)->(?y) RETURN ?x, ?y LIMIT 200"
    cursor.execute(query)
    many = cursor.fetchall()
    display(many)
connection.close()

         ?x      ?y
0    Q10010   Q4843
1    Q10019  Q55350
2    Q10043  Q19624
3    Q10049  Q12890
4    Q10078  Q22900
..      ...     ...
195  Q13418  Q52755
196  Q13435  Q41610
197  Q13470  Q74635
198  Q13471  Q57946
199  Q13476  Q23926

[200 rows x 2 columns]