# Demo 
**TODO**:
1. New streaming protocol for large results
2. Raise QueryExceptions from C++ to Python

In [1]:
import pymdb
import pandas as pd

## 1. Client instance

In [2]:
client = pymdb.Client(host="localhost", port=8080)
# Do stuff
client.close()

`Client` also support the `with` statement, which calls the `close()` method automatically when leaving the scope

In [3]:
with pymdb.Client(host="localhost", port=8080) as client:
    # Do stuff
    pass

## 2. Cursor instance
Similarly to `Client`, cursors support the `with` statement. This object is used for executing queries directly to MillenniumDB. A `Client` may have multiple cursor instances

In [4]:
with pymdb.Client(host="localhost", port=8080) as client:
    cursor1 = client.cursor()
    # Do stuff with cursor1
    cursor1.close()

    with client.cursor() as cursor2:
        # Do stuff with cursor2
        pass

### 2.1. Cursor.fetchone() -> pd.DataFrame

In [5]:
with pymdb.Client(host="localhost", port=8080) as client:
    with client.cursor() as cursor:
        query = "MATCH (?x)-[?z]->(?y) RETURN ?x, ?z, ?y LIMIT 100"
        cursor.execute(query)
        first = cursor.fetchone()
        display(first)
        second = cursor.fetchone()
        display(second)

       ?x        ?z     ?y
0  Q10010  _e224649  Q4843

       ?x        ?z      ?y
0  Q10019  _e270085  Q55350

### 2.2. Cursor.fetchmany(N) -> pd.DataFrame

In [6]:
with pymdb.Client(host="localhost", port=8080) as client:
    with client.cursor() as cursor:
        query = "MATCH (?x)->() RETURN ?x LIMIT 100"
        cursor.execute(query)
        many = cursor.fetchmany(10)
        display(many)

       ?x
0  Q10010
1  Q10019
2  Q10043
3  Q10049
4  Q10078
5  Q10080
6  Q10087
7  Q10095
8  Q10109
9  Q10134

### 2.3. Cursor.fetchall() -> pd.DataFrame

In [7]:
with pymdb.Client(host="localhost", port=8080) as client:
    with client.cursor() as cursor:
        query = "MATCH (?x)->(?y) RETURN ?x, ?y LIMIT 100"
        cursor.execute(query)
        many = cursor.fetchall()
        display(many)

        ?x      ?y
0   Q10010   Q4843
1   Q10019  Q55350
2   Q10043  Q19624
3   Q10049  Q12890
4   Q10078  Q22900
..     ...     ...
95  Q11510  Q76542
96  Q11515  Q64570
97  Q11540  Q18334
98  Q11550  Q67144
99  Q11553  Q21614

[100 rows x 2 columns]

### 2.4 Cursor.neighbors() -> pd.DataFrame

In [9]:
with pymdb.Client(host="localhost", port=8080) as client:
    with client.cursor() as cursor:
        cursor.neighbors(node="Q11510", edge_type="", direction="ANY")
        any_nbr = cursor.fetchall()
        display(any_nbr)
        
    with client.cursor() as cursor:
        cursor.neighbors(node="Q11510", edge_type="", direction="ANY")
        any_nbr = cursor.fetchall()
        display(any_nbr)

    with client.cursor() as cursor:
        cursor.neighbors(node="Q11510", edge_type="", direction="ANY")
        any_nbr = cursor.fetchall()
        display(any_nbr)

  ?neighbor
0    Q51030
1    Q76457
2    Q76542
3    Q77684
4    Q78522
5    Q94115
6    Q13474
7    Q52448
8    Q13686